@font-face {
    font-family: Inter;
    src: url(https://d9lvjui2ux1xa.cloudfront.net/fonts/v3/Inter-VariableFont.woff2) format("woff2 supports variations"),
         url(https://d9lvjui2ux1xa.cloudfront.net/fonts/v3/Inter-VariableFont.woff2) format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: Museo;
    src: url(https://d9lvjui2ux1xa.cloudfront.net/fonts/v3/MuseoSansRounded-900-webfont.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: GT-Ultra;
    src: url(https://d9lvjui2ux1xa.cloudfront.net/fonts/v3/gt-ultra-median-bold-trial-webfont.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: GT-Ultra;
    src: url(https://d9lvjui2ux1xa.cloudfront.net/fonts/v3/gt-ultra-median-bold-italic-trial-webfont.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}



.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('/hero.jpg'); /* Use the image from the public folder */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'GT Ultra', sans-serif; /* Set font family to GT Ultra */
}

.hero-text {
    font-size: 3.5rem; /* Adjust font size as needed */
    font-weight: 800; /* Ensure it uses the correct weight */
    margin-bottom: 50px;
    font-family: 'GT-Ultra', sans-serif; 
}

.search-bar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5); /* Make background slightly transparent for a blurred effect */
    border-radius: 50px;
    padding: 10px;
    width: 60%; /* Reduced width */
    height: 45px; /* Increased height */
}

.location-icon {
    color: #005eb8; /* Primary color */
    margin-right: 10px;
    font-size: 1.5rem; /* Adjust icon size */
}

input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 50px; /* Full border radius */
    font-family: 'Roboto', sans-serif; /* Use Roboto for the input text */
    background: transparent; /* Blurred background effect */
    
}

input::placeholder{
    color: black;
}

.find-parking-button {
    background-color: #005eb8; /* Primary color */
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 100%;
}

.find-parking-button-l{
    height: 100%;
}

.find-parking-button:hover {
    background-color: #004494; /* Darker shade on hover */
}

.location-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure popup is above other content */
}

.popup-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.popup-icon {
    color: #005eb8; /* Primary color */
    font-size: 2rem; /* Adjust icon size */
    margin-right: 10px;
}

.close-popup {
    margin-left: auto;
    background: transparent;
    border: none;
    color: #005eb8; /* Primary color */
    cursor: pointer;
    font-weight: bold;
}
